In [3]:
from selenium import webdriver
import numpy as np
import pandas as pd

In [9]:
browser = webdriver.Chrome()

In [10]:
browser.get('https://daidata.goraggio.com/100932/list?mode=psModelNameSearch&ps=P')

In [11]:
source = browser.page_source

In [12]:
elem = browser.find_element_by_class_name("accept_btn").click()

In [13]:
browser.find_element_by_id("gn_interstitial_close_icon").click()

In [ ]:
browser.find_element_by_css_selector

In [235]:
elem = browser.find_elements_by_css_selector('.model_name')[2]

In [ ]:
elem.click()

In [237]:
data = browser.find_elements_by_class_name("today")

In [238]:
columns=[ "累計スタート", "総大当たり", "初当たり", "確変当", "大当たり確変", "初当たり確変", "最大持ち玉", "前日最終スタート"]
start_table = 23 
table_length = 14

In [239]:
#arr = np.append(arr, np.array([[1, 2, 3]]), axis=0)
values = []
for value in data:
    v = value.text
    values.append(v)

np_values = np.array(values)

In [240]:
np_values = np_values.reshape([-1,8])
df = pd.DataFrame(np_values)
df

         0      1     2    3        4        5      6         7
0   累計スタート  総大当たり  初当たり  確変当   大当たり確率   初当たり確率   最大持玉  前日最終スタート
1     1153      4     2    2  1/288.3  1/576.5   4180       216
2      791      2     2    0  1/395.5  1/395.5    430       243
3      656      1     1    0  1/656.0  1/656.0    420         0
4      525      1     1    0  1/525.0  1/525.0    420       120
5      834     39     8   31   1/21.4  1/104.3  35400       110
6      564      1     1    0  1/564.0  1/564.0    430        11
7      998      9     2    7  1/110.9  1/499.0   9880       180
8      479      0     0    0    1/0.0    1/0.0     20        62
9      911     12     6    6   1/75.9  1/151.8   6990       162
10     688      4     3    1  1/172.0  1/229.3   2230         0
11     701     12     1   11   1/58.4  1/701.0  15810       164
12     891      6     4    2  1/148.5  1/222.8   3170         7
13     811      7     2    5  1/115.9  1/405.5   7330       405
14     971     14     6    8   1/69.4  1/161.8   7730       518

In [241]:
df = df.drop(0)

In [242]:
tables = []
for t in range(start_table, start_table+table_length):
    tables.append(t)

In [243]:
tables

[23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]

In [244]:
#

In [245]:
df

       0   1  2   3        4        5      6    7
1   1153   4  2   2  1/288.3  1/576.5   4180  216
2    791   2  2   0  1/395.5  1/395.5    430  243
3    656   1  1   0  1/656.0  1/656.0    420    0
4    525   1  1   0  1/525.0  1/525.0    420  120
5    834  39  8  31   1/21.4  1/104.3  35400  110
6    564   1  1   0  1/564.0  1/564.0    430   11
7    998   9  2   7  1/110.9  1/499.0   9880  180
8    479   0  0   0    1/0.0    1/0.0     20   62
9    911  12  6   6   1/75.9  1/151.8   6990  162
10   688   4  3   1  1/172.0  1/229.3   2230    0
11   701  12  1  11   1/58.4  1/701.0  15810  164
12   891   6  4   2  1/148.5  1/222.8   3170    7
13   811   7  2   5  1/115.9  1/405.5   7330  405
14   971  14  6   8   1/69.4  1/161.8   7730  518

In [246]:

df.columns = columns
df["台番号"] = tables

In [247]:
df

   累計スタート 総大当たり 初当たり 確変当   大当たり確変   初当たり確変  最大持ち玉 前日最終スタート  台番号
1    1153     4    2   2  1/288.3  1/576.5   4180      216   23
2     791     2    2   0  1/395.5  1/395.5    430      243   24
3     656     1    1   0  1/656.0  1/656.0    420        0   25
4     525     1    1   0  1/525.0  1/525.0    420      120   26
5     834    39    8  31   1/21.4  1/104.3  35400      110   27
6     564     1    1   0  1/564.0  1/564.0    430       11   28
7     998     9    2   7  1/110.9  1/499.0   9880      180   29
8     479     0    0   0    1/0.0    1/0.0     20       62   30
9     911    12    6   6   1/75.9  1/151.8   6990      162   31
10    688     4    3   1  1/172.0  1/229.3   2230        0   32
11    701    12    1  11   1/58.4  1/701.0  15810      164   33
12    891     6    4   2  1/148.5  1/222.8   3170        7   34
13    811     7    2   5  1/115.9  1/405.5   7330      405   35
14    971    14    6   8   1/69.4  1/161.8   7730      518   36

In [248]:
add1= df["大当たり確変"].str[2:].astype(float)
add2 = df["初当たり確変"].str[2:].astype(float)
df = df.drop(["大当たり確変", "初当たり確変"], axis=1)
df["大当たり確変"] = add1
df["初当たり確変"] = add2
df = df.astype('int')

In [249]:
df

    累計スタート  総大当たり  初当たり  確変当  最大持ち玉  前日最終スタート  台番号  大当たり確変  初当たり確変
1     1153      4     2    2   4180       216   23     288     576
2      791      2     2    0    430       243   24     395     395
3      656      1     1    0    420         0   25     656     656
4      525      1     1    0    420       120   26     525     525
5      834     39     8   31  35400       110   27      21     104
6      564      1     1    0    430        11   28     564     564
7      998      9     2    7   9880       180   29     110     499
8      479      0     0    0     20        62   30       0       0
9      911     12     6    6   6990       162   31      75     151
10     688      4     3    1   2230         0   32     172     229
11     701     12     1   11  15810       164   33      58     701
12     891      6     4    2   3170         7   34     148     222
13     811      7     2    5   7330       405   35     115     405
14     971     14     6    8   7730       518   36      69     161

In [7]:
browser.quit()